Repository muhandojeon/Software-Engineering-at-Google, changes with the labels that .github/labeler.yml gives for each.
All labels: 챕터_1, 챕터_2, 챕터_3, 챕터_4, 챕터_5, 챕터_6, 챕터_7, 챕터_8, 챕터_9, 챕터_10, 챕터_11, 챕터_12, 챕터_13, 챕터_14, 챕터_15, 챕터_16, 챕터_17, 챕터_18, 챕터_19, 챕터_20, 챕터_21, 챕터_22, 챕터_23, 챕터_24, 챕터_25

.github/labeler.yml:

챕터_1:
  - 챕터_1/*
챕터_2:
  - 챕터_2/*
챕터_3:
  - 챕터_3/*
챕터_4:
  - 챕터_4/*
챕터_5:
  - 챕터_5/*
챕터_6:
  - 챕터_6/*
챕터_7:
  - 챕터_7/*
챕터_8:
  - 챕터_8/*
챕터_9:
  - 챕터_9/*
챕터_10:
  - 챕터_10/*
챕터_11:
  - 챕터_11/*
챕터_12:
  - 챕터_12/*
챕터_13:
  - 챕터_13/*
챕터_14:
  - 챕터_14/*
챕터_15:
  - 챕터_15/*
챕터_16:
  - 챕터_16/*
챕터_17:
  - 챕터_17/*
챕터_18:
  - 챕터_18/*
챕터_19:
  - 챕터_19/*
챕터_20:
  - 챕터_20/*
챕터_21:
  - 챕터_21/*
챕터_22:
  - 챕터_22/*
챕터_23:
  - 챕터_23/*
챕터_24:
  - 챕터_24/*
챕터_25:
  - 챕터_25/*

챕터 2 오혜성 (#8)
  챕터_2/오혜성.md
Labels: 챕터_2

Create 이상조.md (#10)
  챕터_3/이상조.md
Labels: 챕터_3

Create 이상조.md (#9)
  챕터_2/이상조.md
Labels: 챕터_2

Create 이상조.md (#27)
  챕터_1/이상조.md
Labels: 챕터_1

1장 박상범 (#19)
  챕터_1/박상범.md
Labels: 챕터_1

[박상범] 챕터 2: 팀워크 이끌어내기 (#20)
  챕터_2/박상범.md
Labels: 챕터_2

3장 박상범 (#26)
  챕터_3/박상범.md
Labels: 챕터_3

4장 신승준
  챕터_4/신승준.md
Labels: 챕터_4

5장 신승준
  챕터_5/신승준.md
Labels: 챕터_5

[권오연] 챕터 1: 소프트웨어 엔지니어링이란? (#16)
  챕터_1/권오연.md
Labels: 챕터_1

[권오연] 챕터2: 팀워크 이끌어내기 (#17)
  챕터_2/권오연.md
Labels: 챕터_2

[권오연] 챕터 3: 지식 공유 (#18)
  챕터_3/권오연.md
Labels: 챕터_3

[권오연] 챕터 4: 공정 사회를 위한 엔지니어링
  챕터_4/권오연.md
Labels: 챕터_4

[권오연] 챕터 5: 팀 이끌기
  챕터_5/권오연.md
Labels: 챕터_5

[권오연] 챕터 6: 성장하는 조직 이끌기
  챕터_6/권오연.md
Labels: 챕터_6

챕터 3 오혜성 (#24)
  챕터_3/오혜성.md
Labels: 챕터_3

챕터 4, 5
  챕터_4/오혜성.md
  챕터_5/오혜성.md
Labels: 챕터_4, 챕터_5

챕터4 박승훈
  챕터_4/박승훈.md
Labels: 챕터_4

docs: 챕터 4 추가
  챕터_4/백지연.md
Labels: 챕터_4

docs: 챕터 5 추가
  챕터_5/백지연.md
Labels: 챕터_5

Create 서준환.md
  챕터_4/서준환.md
Labels: 챕터_4

Create 서준환.md
  챕터_5/서준환.md
Labels: 챕터_5

4장
  챕터_4/박상범.md
Labels: 챕터_4

챕터5 박승훈
  챕터_5/박승훈.md
Labels: 챕터_5

챕터 4,5
  챕터_4/변수미.md
  챕터_5/변수미.md
Labels: 챕터_4, 챕터_5

Create 이상조.md
  챕터_4/이상조.md
Labels: 챕터_4

5장
  챕터_5/박상범.md
Labels: 챕터_5

Create 이상조.md
  챕터_5/이상조.md
Labels: 챕터_5

4장 신승준 (#28)
  챕터_4/신승준.md
Labels: 챕터_4

[백지연] 챕터 4: 공정 사회를 위한 엔지니어링 (#34)
  챕터_4/백지연.md
Labels: 챕터_4

[백지연] 챕터 5: 팀 이끌기 (#35)
  챕터_5/백지연.md
Labels: 챕터_5

1장 박승훈 (#13)
  챕터_1/박승훈.md
Labels: 챕터_1

챕터2 박승훈 (#15)
  챕터_2/박승훈.md
Labels: 챕터_2

Create 이상조.md (#43)
  챕터_5/이상조.md
Labels: 챕터_5

Create 이상조.md (#40)
  챕터_4/이상조.md
Labels: 챕터_4

챕터3 박승훈 (#25)
  챕터_3/박승훈.md
Labels: 챕터_3

챕터4 박승훈 (#37)
  챕터_4/박승훈.md
Labels: 챕터_4

챕터5 박승훈 (#39)
  챕터_5/박승훈.md
Labels: 챕터_5

챕터 4, 5 (#33)
  챕터_4/오혜성.md
  챕터_5/오혜성.md
Labels: 챕터_4, 챕터_5

4장 (#41)
  챕터_4/박상범.md
Labels: 챕터_4
