Repository muhandojeon/Software-Engineering-at-Google, changes with the labels that .github/labeler.yml gives for each.
All labels: 챕터_1, 챕터_2, 챕터_3, 챕터_4, 챕터_5, 챕터_6, 챕터_7, 챕터_8, 챕터_9, 챕터_10, 챕터_11, 챕터_12, 챕터_13, 챕터_14, 챕터_15, 챕터_16, 챕터_17, 챕터_18, 챕터_19, 챕터_20, 챕터_21, 챕터_22, 챕터_23, 챕터_24, 챕터_25

.github/labeler.yml:

챕터_1:
  - 챕터_1/*
챕터_2:
  - 챕터_2/*
챕터_3:
  - 챕터_3/*
챕터_4:
  - 챕터_4/*
챕터_5:
  - 챕터_5/*
챕터_6:
  - 챕터_6/*
챕터_7:
  - 챕터_7/*
챕터_8:
  - 챕터_8/*
챕터_9:
  - 챕터_9/*
챕터_10:
  - 챕터_10/*
챕터_11:
  - 챕터_11/*
챕터_12:
  - 챕터_12/*
챕터_13:
  - 챕터_13/*
챕터_14:
  - 챕터_14/*
챕터_15:
  - 챕터_15/*
챕터_16:
  - 챕터_16/*
챕터_17:
  - 챕터_17/*
챕터_18:
  - 챕터_18/*
챕터_19:
  - 챕터_19/*
챕터_20:
  - 챕터_20/*
챕터_21:
  - 챕터_21/*
챕터_22:
  - 챕터_22/*
챕터_23:
  - 챕터_23/*
챕터_24:
  - 챕터_24/*
챕터_25:
  - 챕터_25/*

5장 (#42)
  챕터_5/박상범.md
Labels: 챕터_5

6장 상범
  챕터_6/상범.md
Labels: 챕터_6

7장 상범
  챕터_6/상범.md
Labels: 챕터_6

챕터 6, 7
  챕터_6/오혜성.md
  챕터_7/오혜성.md
Labels: 챕터_6, 챕터_7

docs: 챕터6
  챕터_6/백지연.md
Labels: 챕터_6

docs: 챕터6
  챕터_6/백지연.md
Labels: 챕터_6

docs: 챕터7
  챕터_7/백지연.md
Labels: 챕터_7

Create 이상조.md
  챕터_6/이상조.md
Labels: 챕터_6

챕터6 박승훈
  챕터_6/박승훈.md
Labels: 챕터_6

챕터7 박승훈
  챕터_7/박승훈.md
Labels: 챕터_7

Create 이상조.md
  챕터_7/이상조.md
Labels: 챕터_7

Create 서준환.md
  챕터_6/서준환.md
Labels: 챕터_6

Create 서준환.md
  챕터_7/서준환.md
Labels: 챕터_7

[권오연] 챕터 7: 엔지니어링 생산성 측정하기
  챕터_7/권오연.md
Labels: 챕터_7

챕터 6, 7 신승준
  챕터_6/신승준.md
  챕터_7/신승준.md
Labels: 챕터_6, 챕터_7

[권오연] 챕터 4: 공정 사회를 위한 엔지니어링 (#30)
  챕터_4/권오연.md
Labels: 챕터_4

[권오연] 챕터 5: 팀 이끌기 (#31)
  챕터_5/권오연.md
Labels: 챕터_5

[백지연] 챕터 6, 7 (#46)
  챕터_6/백지연.md
  챕터_7/백지연.md
Labels: 챕터_6, 챕터_7

챕터 6, 7 (#45)
  챕터_6/오혜성.md
  챕터_7/오혜성.md
Labels: 챕터_6, 챕터_7

서준환: 챕터 6, 7 (#51)
  챕터_6/서준환.md
  챕터_7/서준환.md
Labels: 챕터_6, 챕터_7

챕터 6장 분리
  챕터_6/상범.md
Labels: 챕터_6

챕터 7장 분리
  챕터_7/상범.md
Labels: 챕터_7

[박상범] 챕터 6,7 (#44)
  챕터_6/상범.md
  챕터_7/상범.md
Labels: 챕터_6, 챕터_7

챕터8 박승훈
  챕터_8/박승훈.md
Labels: 챕터_8

챕터9 박승훈
  챕터_9/박승훈.md
Labels: 챕터_9

8장 상범
  챕터_8/상범.md
Labels: 챕터_8

불필요한 라인 제거
  챕터_8/상범.md
Labels: 챕터_8

9장 상범
  챕터_9/상범.md
Labels: 챕터_9

8장 혜성
  챕터_8/오혜성.md
Labels: 챕터_8

9장 혜성
  챕터_9/오혜성.md
Labels: 챕터_9

9장 혜성
  챕터_9/오혜성.md
Labels: 챕터_9

docs: 챕터 8
  챕터_8/백지연.md
Labels: 챕터_8

docs: 챕터 9
  챕터_9/백지연.md
Labels: 챕터_9

이상조.md 만들기
  챕터_8/이상조.md
Labels: 챕터_8

챕터 8, 9
  챕터_8/권오연.md
  챕터_9/권오연.md
Labels: 챕터_8, 챕터_9

이상조.md 만들기
  챕터_9/이상조.md
Labels: 챕터_9

[권오연] 챕터 6: 성장하는 조직 이끌기 (#32)
  챕터_6/권오연.md
Labels: 챕터_6

[권오연] 챕터 7: 엔지니어링 생산성 측정하기 (#52)
  챕터_7/권오연.md
Labels: 챕터_7

Create 서준환.md
  챕터_8/서준환.md
Labels: 챕터_8

Create 서준환.md
  챕터_9/서준환.md
Labels: 챕터_9
