Repository muhandojeon/Software-Engineering-at-Google, changes with the labels that .github/labeler.yml gives for each.
All labels: 챕터_1, 챕터_2, 챕터_3, 챕터_4, 챕터_5, 챕터_6, 챕터_7, 챕터_8, 챕터_9, 챕터_10, 챕터_11, 챕터_12, 챕터_13, 챕터_14, 챕터_15, 챕터_16, 챕터_17, 챕터_18, 챕터_19, 챕터_20, 챕터_21, 챕터_22, 챕터_23, 챕터_24, 챕터_25

docs: 챕터 17
  챕터_17/백지연.md
Labels: 챕터_17

챕터 14 혜성
  챕터_14/오혜성.md
Labels: 챕터_14

챕터 15 혜성
  챕터_15/오혜성.md
Labels: 챕터_15

chore: 사례 추가
  챕터_15/백지연.md
Labels: 챕터_15

Create 서준환.md (#74)
  챕터_10/서준환.md
Labels: 챕터_10

[백지연] 챕터 14: 더 큰 테스트 (#97)
  챕터_14/백지연.md
Labels: 챕터_14

[백지연] 챕터 15: 폐기 (#98)
  챕터_15/백지연.md
Labels: 챕터_15

14장 정리 (#99)
  챕터_14/상범.md
Labels: 챕터_14

15장 정리 (#100)
  챕터_15/상범.md
Labels: 챕터_15

Create 서준환.md (#78)
  챕터_11/서준환.md
Labels: 챕터_11

Create 서준환.md (#95)
  챕터_12/서준환.md
Labels: 챕터_12

Create 서준환.md (#94)
  챕터_13/서준환.md
Labels: 챕터_13

docs: 챕터 18
  챕터_18/백지연.md
Labels: 챕터_18

docs: 챕터 19
  챕터_19/백지연.md
Labels: 챕터_19

챕터 14 혜성 (#103)
  챕터_14/오혜성.md
Labels: 챕터_14

챕터 15 혜성 (#104)
  챕터_15/오혜성.md
Labels: 챕터_15

chore: 내용 수정
  챕터_19/백지연.md
Labels: 챕터_19

챕터6 박승훈 (#48)
  챕터_6/박승훈.md
Labels: 챕터_6

챕터7 박승훈 (#49)
  챕터_7/박승훈.md
Labels: 챕터_7

챕터8 박승훈 (#54)
  챕터_8/박승훈.md
Labels: 챕터_8

챕터 10 박승훈 (#70)
  챕터_10/박승훈.md
Labels: 챕터_10

챕터11 박승훈 (#71)
  챕터_11/박승훈.md
Labels: 챕터_11

챕터12 박승훈 (#92)
  챕터_12/박승훈.md
Labels: 챕터_12

챕터9 박승훈 (#55)
  챕터_9/박승훈.md
Labels: 챕터_9

챕터13 박승훈 (#93)
  챕터_13/박승훈.md
Labels: 챕터_13

챕터14 박승훈 (#101)
  챕터_14/박승훈.md
Labels: 챕터_14

챕터15 박승훈 (#102)
  챕터_15/박승훈.md
Labels: 챕터_15

챕터 16 혜성
  챕터_16/오혜성.md
Labels: 챕터_16

챕터 17 혜성
  챕터_17/오혜성.md
Labels: 챕터_17

16장 정리
  챕터_16/상범.md
Labels: 챕터_16

docs: 챕터 20
  챕터_20/백지연.md
Labels: 챕터_20

docs: 챕터 21
  챕터_21/백지연.md
Labels: 챕터_21

챕터16 박승훈
  챕터_16/박승훈.md
Labels: 챕터_16

17장 정리
  챕터_17/상범.md
Labels: 챕터_17

챕터17 박승훈
  챕터_17/박승훈.md
Labels: 챕터_17

16장 정리
  챕터_16/변수미.md
Labels: 챕터_16

17장 정리
  챕터_17/변수미.md
Labels: 챕터_17

[백지연] 챕터 16: 버전 관리와 브랜치 관리 (#105)
  챕터_16/백지연.md
Labels: 챕터_16

[백지연] 챕터 17: Code Search (#106)
  챕터_17/백지연.md
Labels: 챕터_17

챕터 16 혜성 (#107)
  챕터_16/오혜성.md
Labels: 챕터_16

.github/labeler.yml:

챕터_1:
  - 챕터_1/*
챕터_2:
  - 챕터_2/*
챕터_3:
  - 챕터_3/*
챕터_4:
  - 챕터_4/*
챕터_5:
  - 챕터_5/*
챕터_6:
  - 챕터_6/*
챕터_7:
  - 챕터_7/*
챕터_8:
  - 챕터_8/*
챕터_9:
  - 챕터_9/*
챕터_10:
  - 챕터_10/*
챕터_11:
  - 챕터_11/*
챕터_12:
  - 챕터_12/*
챕터_13:
  - 챕터_13/*
챕터_14:
  - 챕터_14/*
챕터_15:
  - 챕터_15/*
챕터_16:
  - 챕터_16/*
챕터_17:
  - 챕터_17/*
챕터_18:
  - 챕터_18/*
챕터_19:
  - 챕터_19/*
챕터_20:
  - 챕터_20/*
챕터_21:
  - 챕터_21/*
챕터_22:
  - 챕터_22/*
챕터_23:
  - 챕터_23/*
챕터_24:
  - 챕터_24/*
챕터_25:
  - 챕터_25/*
