Repository muhandojeon/Software-Engineering-at-Google, changes with the labels that .github/labeler.yml gives for each.
All labels: 챕터_1, 챕터_2, 챕터_3, 챕터_4, 챕터_5, 챕터_6, 챕터_7, 챕터_8, 챕터_9, 챕터_10, 챕터_11, 챕터_12, 챕터_13, 챕터_14, 챕터_15, 챕터_16, 챕터_17, 챕터_18, 챕터_19, 챕터_20, 챕터_21, 챕터_22, 챕터_23, 챕터_24, 챕터_25

챕터 17 혜성 (#108)
  챕터_17/오혜성.md
Labels: 챕터_17

16장 정리 (#109)
  챕터_16/상범.md
Labels: 챕터_16

17장 정리 (#110)
  챕터_17/상범.md
Labels: 챕터_17

18장 정리
  챕터_18/상범.md
Labels: 챕터_18

수정
  챕터_18/상범.md
Labels: 챕터_18

챕터 18 오혜성
  챕터_18/오혜성.md
Labels: 챕터_18

[오혜성] 챕터 19: Critique: 구글의 코드 리뷰 도구
  챕터_19/오혜성.md
Labels: 챕터_19

19장 정리
  챕터_19/상범.md
Labels: 챕터_19

챕터 18 박승훈
  챕터_18/박승훈.md
Labels: 챕터_18

챕터 19 박승훈
  챕터_19/박승훈.md
Labels: 챕터_19

18장 변수미
  챕터_18/변수미.md
Labels: 챕터_18

19장 변수미
  챕터_19/변수미.md
Labels: 챕터_19

Create 이상조.md (#47)
  챕터_6/이상조.md
Labels: 챕터_6

Create 이상조.md (#50)
  챕터_7/이상조.md
Labels: 챕터_7

이상조.md 만들기 (#62)
  챕터_8/이상조.md
Labels: 챕터_8

이상조.md 만들기 (#64)
  챕터_9/이상조.md
Labels: 챕터_9

Create 이상조.md (#79)
  챕터_10/이상조.md
Labels: 챕터_10

Create 이상조.md (#81)
  챕터_11/이상조.md
Labels: 챕터_11

[백지연] 챕터 18: 빌드 시스템과 빌드 철학 (#115)
  챕터_18/백지연.md
Labels: 챕터_18

[백지연] 챕터 19: Critique: 구글의 코드 리뷰 도구 (#116)
  챕터_19/백지연.md
Labels: 챕터_19

챕터 18 오혜성 (#118)
  챕터_18/오혜성.md
Labels: 챕터_18

[오혜성] 챕터 19: Critique: 구글의 코드 리뷰 도구 (#119)
  챕터_19/오혜성.md
Labels: 챕터_19

[박상범] 챕터 18: 빌드 시스템과 빌드 철학 (#117)
  챕터_18/상범.md
Labels: 챕터_18

19장 정리 (#120)
  챕터_19/상범.md
Labels: 챕터_19

챕터16 박승훈 (#111)
  챕터_16/박승훈.md
Labels: 챕터_16

docs: 챕터 22 추가
  챕터_22/백지연.md
Labels: 챕터_22

20장 정리
  챕터_20/상범.md
Labels: 챕터_20

21장 정리
  챕터_21/상범.md
Labels: 챕터_21

chore: 내용 추가
  챕터_21/백지연.md
Labels: 챕터_21

docs: 챕터 23 추가
  챕터_23/백지연.md
Labels: 챕터_23

챕터20 오혜성
  챕터_20/오혜성.md
Labels: 챕터_20

챕터21 오혜성
  챕터_21/오혜성.md
Labels: 챕터_21

챕터 10 신승준
  챕터_20/신승준.md
Labels: 챕터_20

챕터 21 신승준
  챕터_21/신승준.md
Labels: 챕터_21

[권오연]챕터20. 정적 분석
  챕터_20/권오연.md
Labels: 챕터_20

[권오연]챕터21. 의존성 관리
  챕터_21/권오연.md
Labels: 챕터_21

[백지연] 챕터 20: 정적 분석 (#125)
  챕터_20/백지연.md
Labels: 챕터_20

[백지연] 챕터 21: 의존성 관리 (#126)
  챕터_21/백지연.md
Labels: 챕터_21

챕터20 오혜성 (#129)
  챕터_20/오혜성.md
Labels: 챕터_20

챕터21 오혜성 (#130)
  챕터_21/오혜성.md
Labels: 챕터_21

.github/labeler.yml:

챕터_1:
  - 챕터_1/*
챕터_2:
  - 챕터_2/*
챕터_3:
  - 챕터_3/*
챕터_4:
  - 챕터_4/*
챕터_5:
  - 챕터_5/*
챕터_6:
  - 챕터_6/*
챕터_7:
  - 챕터_7/*
챕터_8:
  - 챕터_8/*
챕터_9:
  - 챕터_9/*
챕터_10:
  - 챕터_10/*
챕터_11:
  - 챕터_11/*
챕터_12:
  - 챕터_12/*
챕터_13:
  - 챕터_13/*
챕터_14:
  - 챕터_14/*
챕터_15:
  - 챕터_15/*
챕터_16:
  - 챕터_16/*
챕터_17:
  - 챕터_17/*
챕터_18:
  - 챕터_18/*
챕터_19:
  - 챕터_19/*
챕터_20:
  - 챕터_20/*
챕터_21:
  - 챕터_21/*
챕터_22:
  - 챕터_22/*
챕터_23:
  - 챕터_23/*
챕터_24:
  - 챕터_24/*
챕터_25:
  - 챕터_25/*
