Repository muhandojeon/Software-Engineering-at-Google, changes with the labels that .github/labeler.yml gives for each.
All labels: 챕터_1, 챕터_2, 챕터_3, 챕터_4, 챕터_5, 챕터_6, 챕터_7, 챕터_8, 챕터_9, 챕터_10, 챕터_11, 챕터_12, 챕터_13, 챕터_14, 챕터_15, 챕터_16, 챕터_17, 챕터_18, 챕터_19, 챕터_20, 챕터_21, 챕터_22, 챕터_23, 챕터_24, 챕터_25

.github/labeler.yml:

챕터_1:
  - 챕터_1/*
챕터_2:
  - 챕터_2/*
챕터_3:
  - 챕터_3/*
챕터_4:
  - 챕터_4/*
챕터_5:
  - 챕터_5/*
챕터_6:
  - 챕터_6/*
챕터_7:
  - 챕터_7/*
챕터_8:
  - 챕터_8/*
챕터_9:
  - 챕터_9/*
챕터_10:
  - 챕터_10/*
챕터_11:
  - 챕터_11/*
챕터_12:
  - 챕터_12/*
챕터_13:
  - 챕터_13/*
챕터_14:
  - 챕터_14/*
챕터_15:
  - 챕터_15/*
챕터_16:
  - 챕터_16/*
챕터_17:
  - 챕터_17/*
챕터_18:
  - 챕터_18/*
챕터_19:
  - 챕터_19/*
챕터_20:
  - 챕터_20/*
챕터_21:
  - 챕터_21/*
챕터_22:
  - 챕터_22/*
챕터_23:
  - 챕터_23/*
챕터_24:
  - 챕터_24/*
챕터_25:
  - 챕터_25/*

챕터 8, 9
  챕터_8/변수미.md
  챕터_9/변수미.md
Labels: 챕터_8, 챕터_9

챕터 8, 9 신승준
  챕터_8/신승준.md
  챕터_9/신승준.md
Labels: 챕터_8, 챕터_9

[백지연] 챕터 8: 스타일 가이드와 규칙 (#60)
  챕터_8/백지연.md
Labels: 챕터_8

[백지연] 챕터 9: 코드 리뷰 (#61)
  챕터_9/백지연.md
Labels: 챕터_9

8장 혜성 (#58)
  챕터_8/오혜성.md
Labels: 챕터_8

[오혜성] 챕터 9: 코드 리뷰 (#59)
  챕터_9/오혜성.md
Labels: 챕터_9

Create 서준환.md (#65)
  챕터_8/서준환.md
Labels: 챕터_8

Create 서준환.md (#66)
  챕터_9/서준환.md
Labels: 챕터_9

[서준환] 챕터 4,5 (#36)
  챕터_4/서준환.md
  챕터_5/서준환.md
Labels: 챕터_4, 챕터_5

10장 정리
  챕터_10/상범.md
Labels: 챕터_10

챕터 10 박승훈
  챕터_10/박승훈.md
Labels: 챕터_10

챕터11 박승훈
  챕터_11/박승훈.md
Labels: 챕터_11

챕터10 혜성
  챕터_10/오혜성.md
Labels: 챕터_10

11장 정리
  챕터_11/상범.md
Labels: 챕터_11

Create 서준환.md
  챕터_10/서준환.md
Labels: 챕터_10

챕터11 혜성
  챕터_11/오혜성.md
Labels: 챕터_11

docs: 챕터 10 추가
  챕터_10/백지연.md
Labels: 챕터_10

chore: 내용 추가
  챕터_10/백지연.md
Labels: 챕터_10

chore: 내용 추가
  챕터_10/백지연.md
Labels: 챕터_10

docs: 챕터 11
  챕터_11/백지연.md
Labels: 챕터_11

chore: 내용 추가
  챕터_11/백지연.md
Labels: 챕터_11

Create 서준환.md
  챕터_11/서준환.md
Labels: 챕터_11

Create 이상조.md
  챕터_10/이상조.md
Labels: 챕터_10

챕터 10, 11
  챕터_10/변수미.md
  챕터_11/변수미.md
Labels: 챕터_10, 챕터_11

1장 변수미 (#21)
  챕터_1/변수미.md
Labels: 챕터_1

2장 변수미 (#22)
  챕터_2/변수미.md
Labels: 챕터_2

3장 변수미 (#23)
  챕터_3/변수미.md
Labels: 챕터_3

챕터 4,5 (#38)
  챕터_4/변수미.md
  챕터_5/변수미.md
Labels: 챕터_4, 챕터_5

챕터 8, 9 (#67)
  챕터_8/변수미.md
  챕터_9/변수미.md
Labels: 챕터_8, 챕터_9

Create 이상조.md
  챕터_11/이상조.md
Labels: 챕터_11

챕터 10,11
  챕터_10/권오연.md
  챕터_11/권오연.md
Labels: 챕터_10, 챕터_11

챕터 10, 11 신승준
  챕터_10/신승준.md
  챕터_11/신승준.md
Labels: 챕터_10, 챕터_11

[박상범] 챕터 8: 스타일 가이드와 규칙 (#56)
  챕터_8/상범.md
Labels: 챕터_8

9장 상범 (#57)
  챕터_9/상범.md
Labels: 챕터_9

10장 정리 (#69)
  챕터_10/상범.md
Labels: 챕터_10

11장 정리 (#73)
  챕터_11/상범.md
Labels: 챕터_11

5장 신승준 (#29)
  챕터_5/신승준.md
Labels: 챕터_5

챕터 6, 7 신승준 (#53)
  챕터_6/신승준.md
  챕터_7/신승준.md
Labels: 챕터_6, 챕터_7

챕터 10, 11 신승준 (#83)
  챕터_10/신승준.md
  챕터_11/신승준.md
Labels: 챕터_10, 챕터_11

[백지연] 챕터 10: 문서자료 (#76)
  챕터_10/백지연.md
Labels: 챕터_10
