Repository muhandojeon/Software-Engineering-at-Google, changes with the labels that .github/labeler.yml gives for each.
All labels: 챕터_1, 챕터_2, 챕터_3, 챕터_4, 챕터_5, 챕터_6, 챕터_7, 챕터_8, 챕터_9, 챕터_10, 챕터_11, 챕터_12, 챕터_13, 챕터_14, 챕터_15, 챕터_16, 챕터_17, 챕터_18, 챕터_19, 챕터_20, 챕터_21, 챕터_22, 챕터_23, 챕터_24, 챕터_25

docs: 챕터 3 추가
  챕터_3/백지연.md
Labels: 챕터_3

chore: 내용 보완
  챕터_3/백지연.md
Labels: 챕터_3

chore: 내용 추가
  챕터_1/백지연.md
Labels: 챕터_1

1장 신승준
  챕터_1/신승준.md
Labels: 챕터_1

2장 신승준
  챕터_2/신승준.md
Labels: 챕터_2

3장 신승준
  챕터_3/신승준.md
Labels: 챕터_3

챕터 2 오혜성
  챕터_2/오혜성.md
Labels: 챕터_2

Create 이상조.md
  챕터_1/이상조.md
Labels: 챕터_1

Create 이상조.md
  챕터_2/이상조.md
Labels: 챕터_2

Create 이상조.md
  챕터_3/이상조.md
Labels: 챕터_3

Create 서준환.md
  챕터_1/서준환.md
Labels: 챕터_1

Create 서준환.md
  챕터_2/서준환.md
Labels: 챕터_2

1장 박승훈
  챕터_1/박승훈.md
Labels: 챕터_1

2장 박상범
  챕터_2/박상범.md
Labels: 챕터_2

Create 서준환.md
  챕터_3/서준환.md
Labels: 챕터_3

챕터2 박승훈
  챕터_2/박승훈.md
Labels: 챕터_2

[권오연] 챕터 1: 소프트웨어 엔지니어링이란?
  챕터_1/권오연.md
Labels: 챕터_1

[권오연] 챕터2: 팀워크 이끌어내기
  챕터_2/권오연.md
Labels: 챕터_2

[권오연] 챕터 3: 지식 공유
  챕터_3/권오연.md
Labels: 챕터_3

1장 박상범
  챕터_1/박상범.md
Labels: 챕터_1

1장 변수미
  챕터_1/변수미.md
Labels: 챕터_1

2장 변수미
  챕터_2/변수미.md
Labels: 챕터_2

3장 변수미
  챕터_3/변수미.md
Labels: 챕터_3

챕터 3 오혜성
  챕터_3/오혜성.md
Labels: 챕터_3

챕터3 박승훈
  챕터_3/박승훈.md
Labels: 챕터_3

3장 박상범
  챕터_3/박상범.md
Labels: 챕터_3

[README]: 벌금 시트 추가
  README.md
Labels: none

Revert "Create 이상조.md"
  챕터_1/이상조.md
Labels: 챕터_1

Create 이상조.md
  챕터_1/이상조.md
Labels: 챕터_1

관련없는 내용 제거
  챕터_2/박상범.md
Labels: 챕터_2

[백지연] 챕터 1: 소프트웨어 엔지니어링이란? (#1)
  챕터_1/백지연.md
Labels: 챕터_1

[백지연] 챕터 2: 팀워크 이끌어내기 (#2)
  챕터_2/백지연.md
Labels: 챕터_2

[백지연] 챕터 3: 지식 공유 (#4)
  챕터_3/백지연.md
Labels: 챕터_3

1장 신승준 (#5)
  챕터_1/신승준.md
Labels: 챕터_1

2장 신승준 (#6)
  챕터_2/신승준.md
Labels: 챕터_2

3장 신승준 (#7)
  챕터_3/신승준.md
Labels: 챕터_3

챕터 1 (#3)
  챕터_1/오혜성.md
Labels: 챕터_1

Create 서준환.md (#11)
  챕터_1/서준환.md
Labels: 챕터_1

Create 서준환.md (#12)
  챕터_2/서준환.md
Labels: 챕터_2

Create 서준환.md (#14)
  챕터_3/서준환.md
Labels: 챕터_3

.github/labeler.yml:

챕터_1:
  - 챕터_1/*
챕터_2:
  - 챕터_2/*
챕터_3:
  - 챕터_3/*
챕터_4:
  - 챕터_4/*
챕터_5:
  - 챕터_5/*
챕터_6:
  - 챕터_6/*
챕터_7:
  - 챕터_7/*
챕터_8:
  - 챕터_8/*
챕터_9:
  - 챕터_9/*
챕터_10:
  - 챕터_10/*
챕터_11:
  - 챕터_11/*
챕터_12:
  - 챕터_12/*
챕터_13:
  - 챕터_13/*
챕터_14:
  - 챕터_14/*
챕터_15:
  - 챕터_15/*
챕터_16:
  - 챕터_16/*
챕터_17:
  - 챕터_17/*
챕터_18:
  - 챕터_18/*
챕터_19:
  - 챕터_19/*
챕터_20:
  - 챕터_20/*
챕터_21:
  - 챕터_21/*
챕터_22:
  - 챕터_22/*
챕터_23:
  - 챕터_23/*
챕터_24:
  - 챕터_24/*
챕터_25:
  - 챕터_25/*
