Repository muhandojeon/Software-Engineering-at-Google, changes with the labels that .github/labeler.yml gives for each.
All labels: 챕터_1, 챕터_2, 챕터_3, 챕터_4, 챕터_5, 챕터_6, 챕터_7, 챕터_8, 챕터_9, 챕터_10, 챕터_11, 챕터_12, 챕터_13, 챕터_14, 챕터_15, 챕터_16, 챕터_17, 챕터_18, 챕터_19, 챕터_20, 챕터_21, 챕터_22, 챕터_23, 챕터_24, 챕터_25

[백지연] 챕터 11: 테스트 개요 (#77)
  챕터_11/백지연.md
Labels: 챕터_11

챕터10 혜성 (#72)
  챕터_10/오혜성.md
Labels: 챕터_10

챕터11 혜성 (#75)
  챕터_11/오혜성.md
Labels: 챕터_11

챕터12 혜성
  챕터_12/오혜성.md
Labels: 챕터_12

챕터13 혜성
  챕터_13/오혜성.md
Labels: 챕터_13

docs: 챕터 12
  챕터_12/백지연.md
Labels: 챕터_12

docs: 챕터 13
  챕터_13/백지연.md
Labels: 챕터_13

chore: 묻지마 4회로 수정
  README.md
Labels: none

12장 정리
  챕터_12/상범.md
Labels: 챕터_12

13장 정리
  챕터_13/상범.md
Labels: 챕터_13

추가 정리
  챕터_13/상범.md
Labels: 챕터_13

챕터 12, 13
  챕터_12/변수미.md
  챕터_13/변수미.md
Labels: 챕터_12, 챕터_13

챕터 10, 11 (#80)
  챕터_10/변수미.md
  챕터_11/변수미.md
Labels: 챕터_10, 챕터_11

docs: 의존성 주입에 관련한 내용 추가
  챕터_13/백지연.md
Labels: 챕터_13

챕터12 박승훈
  챕터_12/박승훈.md
Labels: 챕터_12

챕터13 박승훈
  챕터_13/박승훈.md
Labels: 챕터_13

Create 서준환.md
  챕터_12/서준환.md
Labels: 챕터_12

Create 서준환.md
  챕터_13/서준환.md
Labels: 챕터_13

chore: 묻지마 4회로 수정 (#88)
  README.md
Labels: none

chore: 내용 정리
  챕터_13/백지연.md
Labels: 챕터_13

[권오연] 챕터 12, 13
  챕터_12/권오연.md
  챕터_13/권오연.md
Labels: 챕터_12, 챕터_13

챕터 10,11 (#82)
  챕터_10/권오연.md
  챕터_11/권오연.md
Labels: 챕터_10, 챕터_11

챕터 8, 9 (#63)
  챕터_8/권오연.md
  챕터_9/권오연.md
Labels: 챕터_8, 챕터_9

[백지연] 챕터 12: 단위 테스트 (#86)
  챕터_12/백지연.md
Labels: 챕터_12

[백지연] 챕터 13: 테스트 대역 (#87)
  챕터_13/백지연.md
Labels: 챕터_13

docs: 챕터 14
  챕터_14/백지연.md
Labels: 챕터_14

챕터12 혜성 (#84)
  챕터_12/오혜성.md
Labels: 챕터_12

챕터13 혜성 (#85)
  챕터_13/오혜성.md
Labels: 챕터_13

docs: 챕터 15
  챕터_15/백지연.md
Labels: 챕터_15

12장 정리 (#89)
  챕터_12/상범.md
Labels: 챕터_12

[박상범] 챕터 13: 테스트 대역 (#90)
  챕터_13/상범.md
Labels: 챕터_13

정리1
  챕터_14/상범.md
Labels: 챕터_14

chore: 내용 추가
  챕터_15/백지연.md
Labels: 챕터_15

정리 2
  챕터_14/상범.md
Labels: 챕터_14

이어서
  챕터_14/상범.md
Labels: 챕터_14

14장 정리
  챕터_14/상범.md
Labels: 챕터_14

15장 정리
  챕터_15/상범.md
Labels: 챕터_15

docs: 챕터 16
  챕터_16/백지연.md
Labels: 챕터_16

챕터14 박승훈
  챕터_14/박승훈.md
Labels: 챕터_14

챕터15 박승훈
  챕터_15/박승훈.md
Labels: 챕터_15

.github/labeler.yml:

챕터_1:
  - 챕터_1/*
챕터_2:
  - 챕터_2/*
챕터_3:
  - 챕터_3/*
챕터_4:
  - 챕터_4/*
챕터_5:
  - 챕터_5/*
챕터_6:
  - 챕터_6/*
챕터_7:
  - 챕터_7/*
챕터_8:
  - 챕터_8/*
챕터_9:
  - 챕터_9/*
챕터_10:
  - 챕터_10/*
챕터_11:
  - 챕터_11/*
챕터_12:
  - 챕터_12/*
챕터_13:
  - 챕터_13/*
챕터_14:
  - 챕터_14/*
챕터_15:
  - 챕터_15/*
챕터_16:
  - 챕터_16/*
챕터_17:
  - 챕터_17/*
챕터_18:
  - 챕터_18/*
챕터_19:
  - 챕터_19/*
챕터_20:
  - 챕터_20/*
챕터_21:
  - 챕터_21/*
챕터_22:
  - 챕터_22/*
챕터_23:
  - 챕터_23/*
챕터_24:
  - 챕터_24/*
챕터_25:
  - 챕터_25/*
