Repository muhandojeon/Software-Engineering-at-Google, changes with the labels that .github/labeler.yml gives for each.
All labels: 챕터_1, 챕터_2, 챕터_3, 챕터_4, 챕터_5, 챕터_6, 챕터_7, 챕터_8, 챕터_9, 챕터_10, 챕터_11, 챕터_12, 챕터_13, 챕터_14, 챕터_15, 챕터_16, 챕터_17, 챕터_18, 챕터_19, 챕터_20, 챕터_21, 챕터_22, 챕터_23, 챕터_24, 챕터_25

20장 정리 (#127)
  챕터_20/상범.md
Labels: 챕터_20

21장 정리 (#128)
  챕터_21/상범.md
Labels: 챕터_21

22장 정리
  챕터_22/상범.md
Labels: 챕터_22

23장 정리
  챕터_23/상범.md
Labels: 챕터_23

[오혜성] 챕터 22: 대규모 변경
  챕터_22/오혜성.md
Labels: 챕터_22

[오혜성] 챕터 23: 지속적 통합
  챕터_23/오혜성.md
Labels: 챕터_23

챕터 22 박승훈
  챕터_22/박승훈.md
Labels: 챕터_22

Create 서준환.md
  챕터_22/서준환.md
Labels: 챕터_22

챕터 23 박승훈
  챕터_23/박승훈.md
Labels: 챕터_23

챕터17 박승훈 (#112)
  챕터_17/박승훈.md
Labels: 챕터_17

챕터 18 박승훈 (#121)
  챕터_18/박승훈.md
Labels: 챕터_18

챕터 19 박승훈 (#122)
  챕터_19/박승훈.md
Labels: 챕터_19

Create 서준환.md
  챕터_23/서준환.md
Labels: 챕터_23

Create 이상조.md
  챕터_22/이상조.md
Labels: 챕터_22

챕터 22
  챕터_22/변수미.md
Labels: 챕터_22

챕터 23
  챕터_23/변수미.md
Labels: 챕터_23

Create 이상조.md
  챕터_23/이상조.md
Labels: 챕터_23

[오혜성] 챕터 22: 대규모 변경 (#139)
  챕터_22/오혜성.md
Labels: 챕터_22

[오혜성] 챕터 23: 지속적 통합 (#140)
  챕터_23/오혜성.md
Labels: 챕터_23

22장 정리 (#137)
  챕터_22/상범.md
Labels: 챕터_22

23장 정리 (#138)
  챕터_23/상범.md
Labels: 챕터_23

[백지연] 챕터 22: 대규모 변경 (#135)
  챕터_22/백지연.md
Labels: 챕터_22

[백지연] 챕터 23: 지속적 통합 (#136)
  챕터_23/백지연.md
Labels: 챕터_23

docs: 챕터 24
  챕터_24/백지연.md
Labels: 챕터_24

[서준환] 챕터 22, 23 (#143)
  챕터_22/서준환.md
  챕터_23/서준환.md
Labels: 챕터_22, 챕터_23

docs: 챕터 25
  챕터_25/백지연.md
Labels: 챕터_25

24장 정리
  챕터_24/상범.md
Labels: 챕터_24

25장 마무리
  챕터_25/상범.md
Labels: 챕터_25

[오혜성] 챕터 24: 지속적 배포
  챕터_24/오혜성.md
Labels: 챕터_24

[오혜성] 챕터 25: 서비스형 컴퓨트
  챕터_25/오혜성.md
Labels: 챕터_25

챕터 24 박승훈
  챕터_24/박승훈.md
Labels: 챕터_24

챕터 25 박승훈
  챕터_25/박승훈.md
Labels: 챕터_25

24장 정리 (#149)
  챕터_24/상범.md
Labels: 챕터_24

25장 마무리 (#150)
  챕터_25/상범.md
Labels: 챕터_25

[백지연] 챕터 24: 지속적 배포 (#147)
  챕터_24/백지연.md
Labels: 챕터_24

[백지연] 챕터 25: 서비스형 컴퓨트 (#148)
  챕터_25/백지연.md
Labels: 챕터_25

[오혜성] 챕터 24: 지속적 배포 (#151)
  챕터_24/오혜성.md
Labels: 챕터_24

[오혜성] 챕터 25: 서비스형 컴퓨트 (#152)
  챕터_25/오혜성.md
Labels: 챕터_25

챕터 22 박승훈 (#141)
  챕터_22/박승훈.md
Labels: 챕터_22

챕터 23 박승훈 (#142)
  챕터_23/박승훈.md
Labels: 챕터_23

.github/labeler.yml:

챕터_1:
  - 챕터_1/*
챕터_2:
  - 챕터_2/*
챕터_3:
  - 챕터_3/*
챕터_4:
  - 챕터_4/*
챕터_5:
  - 챕터_5/*
챕터_6:
  - 챕터_6/*
챕터_7:
  - 챕터_7/*
챕터_8:
  - 챕터_8/*
챕터_9:
  - 챕터_9/*
챕터_10:
  - 챕터_10/*
챕터_11:
  - 챕터_11/*
챕터_12:
  - 챕터_12/*
챕터_13:
  - 챕터_13/*
챕터_14:
  - 챕터_14/*
챕터_15:
  - 챕터_15/*
챕터_16:
  - 챕터_16/*
챕터_17:
  - 챕터_17/*
챕터_18:
  - 챕터_18/*
챕터_19:
  - 챕터_19/*
챕터_20:
  - 챕터_20/*
챕터_21:
  - 챕터_21/*
챕터_22:
  - 챕터_22/*
챕터_23:
  - 챕터_23/*
챕터_24:
  - 챕터_24/*
챕터_25:
  - 챕터_25/*
