Repository muhandojeon/Software-Engineering-at-Google, changes with the labels that .github/labeler.yml gives for each.
All labels: 챕터_1, 챕터_2, 챕터_3, 챕터_4, 챕터_5, 챕터_6, 챕터_7, 챕터_8, 챕터_9, 챕터_10, 챕터_11, 챕터_12, 챕터_13, 챕터_14, 챕터_15, 챕터_16, 챕터_17, 챕터_18, 챕터_19, 챕터_20, 챕터_21, 챕터_22, 챕터_23, 챕터_24, 챕터_25

챕터 24 박승훈 (#153)
  챕터_24/박승훈.md
Labels: 챕터_24

챕터 25 박승훈 (#154)
  챕터_25/박승훈.md
Labels: 챕터_25

[권오연]챕터21. 의존성 관리 (#134)
  챕터_21/권오연.md
Labels: 챕터_21

[권오연]챕터20. 정적 분석 (#133)
  챕터_20/권오연.md
Labels: 챕터_20

[권오연] 챕터 12, 13 (#96)
  챕터_12/권오연.md
  챕터_13/권오연.md
Labels: 챕터_12, 챕터_13

Create 이상조.md (#146)
  챕터_23/이상조.md
Labels: 챕터_23

Create 이상조.md (#144)
  챕터_22/이상조.md
Labels: 챕터_22

.github/labeler.yml:

챕터_1:
  - 챕터_1/*
챕터_2:
  - 챕터_2/*
챕터_3:
  - 챕터_3/*
챕터_4:
  - 챕터_4/*
챕터_5:
  - 챕터_5/*
챕터_6:
  - 챕터_6/*
챕터_7:
  - 챕터_7/*
챕터_8:
  - 챕터_8/*
챕터_9:
  - 챕터_9/*
챕터_10:
  - 챕터_10/*
챕터_11:
  - 챕터_11/*
챕터_12:
  - 챕터_12/*
챕터_13:
  - 챕터_13/*
챕터_14:
  - 챕터_14/*
챕터_15:
  - 챕터_15/*
챕터_16:
  - 챕터_16/*
챕터_17:
  - 챕터_17/*
챕터_18:
  - 챕터_18/*
챕터_19:
  - 챕터_19/*
챕터_20:
  - 챕터_20/*
챕터_21:
  - 챕터_21/*
챕터_22:
  - 챕터_22/*
챕터_23:
  - 챕터_23/*
챕터_24:
  - 챕터_24/*
챕터_25:
  - 챕터_25/*
