Repository muhandojeon/Software-Engineering-at-Google, pull requests merged in 2025-08, with the labels that each got.

#115 [백지연] 챕터 18: 빌드 시스템과 빌드 철학
  챕터_18/백지연.md
Labels: 챕터_18

#119 [오혜성] 챕터 19: Critique: 구글의 코드 리뷰 도구
  챕터_19/오혜성.md
Labels: 챕터_19

#117 [박상범] 챕터 18: 빌드 시스템과 빌드 철학
  챕터_18/상범.md
Labels: 챕터_18

#120 [박상범] 챕터 19: Critique: 구글의 코드 리뷰 도구
  챕터_19/상범.md
Labels: 챕터_19

#111 [박승훈] 챕터 16: 버전 관리와 브랜치 관리
  챕터_16/박승훈.md
Labels: 챕터_16

#130 [오혜성] 챕터 21: 의존성 관리
  챕터_21/오혜성.md
Labels: 챕터_21

#128 [박상범] 챕터 21: 의존성 관리
  챕터_21/상범.md
Labels: 챕터_21

#137 [박상범] 챕터 22: 대규모 변경
  챕터_22/상범.md
Labels: 챕터_22

#143 [서준환] 챕터 22, 23
  챕터_22/서준환.md
  챕터_23/서준환.md
Labels: 챕터_22, 챕터_23

#147 [백지연] 챕터 24: 지속적 배포
  챕터_24/백지연.md
Labels: 챕터_24

#141 [박승훈] 챕터 22: 대규모 변경
  챕터_22/박승훈.md
Labels: 챕터_22

#142 [박승훈] 챕터 23: 지속적 통합
  챕터_23/박승훈.md
Labels: 챕터_23

#153 [박승훈] 챕터 24: 지속적 배포
  챕터_24/박승훈.md
Labels: 챕터_24

#154 [박승훈] 챕터 25: 서비스형 컴퓨트
  챕터_25/박승훈.md
Labels: 챕터_25

#134 [권오연] 챕터21: 의존성 관리
  챕터_21/권오연.md
Labels: 챕터_21

#133 [권오연] 챕터20: 정적 분석
  챕터_20/권오연.md
Labels: 챕터_20

#96 [권오연] 챕터 12: 단위 테스트, 챕터 13: 테스트 대역
  챕터_12/권오연.md
  챕터_13/권오연.md
Labels: 챕터_12, 챕터_13

#146 [이상조] 챕터 23: 지속적 통합
  챕터_23/이상조.md
Labels: 챕터_23

#144 [이상조] 챕터 22: 대규모 변경
  챕터_22/이상조.md
Labels: 챕터_22
