Repository muhandojeon/Software-Engineering-at-Google, pull requests merged in 2025-07, with the labels that each got.

#61 [백지연] 챕터 9: 코드 리뷰
  챕터_9/백지연.md
Labels: 챕터_9

#58 [오혜성] 챕터 8: 스타일 가이드와 규칙
  챕터_8/오혜성.md
Labels: 챕터_8

#59 [오혜성] 챕터 9: 코드 리뷰
  챕터_9/오혜성.md
Labels: 챕터_9

#36 [서준환] 챕터 4,5
  챕터_4/서준환.md
  챕터_5/서준환.md
Labels: 챕터_4, 챕터_5

#73 [박상범] 챕터 11: 테스트 개요
  챕터_11/상범.md
Labels: 챕터_11

#29 [신승준] 챕터 5: 팀 이끌기
  챕터_5/신승준.md
Labels: 챕터_5

#53 [신승준] 챕터 6, 7: 성장하는 조직 이끌기, 엔지니어링 생산성 측정하기
  챕터_6/신승준.md
  챕터_7/신승준.md
Labels: 챕터_6, 챕터_7

#83 [신승준] 챕터 10, 11
  챕터_10/신승준.md
  챕터_11/신승준.md
Labels: 챕터_10, 챕터_11

#80 [변수미] 챕터 10, 11: 문서자료, 테스트 개요
  챕터_10/변수미.md
  챕터_11/변수미.md
Labels: 챕터_10, 챕터_11

#89 [박상범] 챕터 12: 단위 테스트
  챕터_12/상범.md
Labels: 챕터_12

#90 [박상범] 챕터 13: 테스트 대역
  챕터_13/상범.md
Labels: 챕터_13

#74 [서준환] 챕터 10: 문서 자료
  챕터_10/서준환.md
Labels: 챕터_10

#98 [백지연] 챕터 15: 폐기
  챕터_15/백지연.md
Labels: 챕터_15

#100 [박상범] 챕터 15: 폐기
  챕터_15/상범.md
Labels: 챕터_15

#48 [박승훈] 챕터 6: 성장하는 조직 이끌기
  챕터_6/박승훈.md
Labels: 챕터_6

#49 [박승훈] 챕터 7: 엔지니어링 생산성 측정하기
  챕터_7/박승훈.md
Labels: 챕터_7

#54 [박승훈] 챕터 8: 스타일 가이드와 규칙
  챕터_8/박승훈.md
Labels: 챕터_8

#70 [박승훈] 챕터 10: 문서자료
  챕터_10/박승훈.md
Labels: 챕터_10

#55 [박승훈] 챕터 9: 코드 리뷰
  챕터_9/박승훈.md
Labels: 챕터_9

#93 [박승훈] 챕터 13: 테스트대역
  챕터_13/박승훈.md
Labels: 챕터_13

#101 [박승훈] 챕터 14: 더 큰 테스트
  챕터_14/박승훈.md
Labels: 챕터_14

#105 [백지연] 챕터 16: 버전 관리와 브랜치 관리
  챕터_16/백지연.md
Labels: 챕터_16

#106 [백지연] 챕터 17: Code Search
  챕터_17/백지연.md
Labels: 챕터_17

#107 [오혜성] 챕터 16: 버전 관리와 브랜치 관리
  챕터_16/오혜성.md
Labels: 챕터_16

#108 [오혜성] 챕터 17: Code Search
  챕터_17/오혜성.md
Labels: 챕터_17

#110 [박상범] 챕터 17: Code Search
  챕터_17/상범.md
Labels: 챕터_17
