Repository muhandojeon/Software-Engineering-at-Google, pull requests merged in 2025-06, with the labels that each got.

#2 [백지연] 챕터 2: 팀워크 이끌어내기
  챕터_2/백지연.md
Labels: 챕터_2

#5 [신승준] 챕터 1: 소프트웨어 엔지니어링이란?
  챕터_1/신승준.md
Labels: 챕터_1

#6 [신승준] 챕터 2: 팀워크 이끌어내기
  챕터_2/신승준.md
Labels: 챕터_2

#3 [오혜성] 챕터 1: 소프트웨어 엔지니어링이란?
  챕터_1/오혜성.md
Labels: 챕터_1

#12 [서준환] 챕터 2: 팀워크 이끌어내기
  챕터_2/서준환.md
Labels: 챕터_2

#14 [서준환] 챕터 3: 지식 공유
  챕터_3/서준환.md
Labels: 챕터_3

#10 [이상조] 챕터 3: 지식 공유
  챕터_3/이상조.md
Labels: 챕터_3

#17 [권오연] 챕터2: 팀워크 이끌어내기
  챕터_2/권오연.md
Labels: 챕터_2

#18 [권오연] 챕터 3: 지식 공유
  챕터_3/권오연.md
Labels: 챕터_3

#24 [오혜성] 챕터 3: 지식공유
  챕터_3/오혜성.md
Labels: 챕터_3

#35 [백지연] 챕터 5: 팀 이끌기
  챕터_5/백지연.md
Labels: 챕터_5

#43 [이상조] 챕터 5: 팀 이끌기
  챕터_5/이상조.md
Labels: 챕터_5

#40 [이상조] 챕터 4: 공정 사회를 위한 엔지니어링
  챕터_4/이상조.md
Labels: 챕터_4

#25 [박승훈] 챕터 3:지식공유
  챕터_3/박승훈.md
Labels: 챕터_3

#39 [박승훈] 챕터 5: 팀 이끌기
  챕터_5/박승훈.md
Labels: 챕터_5

#41 [박상범] 챕터 4: 공정 사회를 위한 엔지니어링
  챕터_4/박상범.md
Labels: 챕터_4

#46 [백지연] 챕터 6, 7
  챕터_6/백지연.md
  챕터_7/백지연.md
Labels: 챕터_6, 챕터_7

#45 [오혜성] 챕터 6, 7
  챕터_6/오혜성.md
  챕터_7/오혜성.md
Labels: 챕터_6, 챕터_7

#51 서준환: 챕터 6, 7
  챕터_6/서준환.md
  챕터_7/서준환.md
Labels: 챕터_6, 챕터_7

#44 [박상범] 챕터 6,7
  챕터_6/상범.md
  챕터_7/상범.md
Labels: 챕터_6, 챕터_7
